{{!-- <form name="sort" id="sort-form" class = "dropdown is-hoverable">
Sort by Avg Rating: <select name="direction" id="direction">
    <option value="Asc">Lowest to Highest</option>
    <option value="Desc">Highest to Lowest</option>
  </select>
</form> --}}

{{!-- <label>Sort by avg rating</label> --}}
<select>
    {{#select status}}
    <option value="Asc">Lowest to Highest</option>
    <option value="Desc">Highest to Lowest</option>
    {{/select}}
</select>


{{#each movies as |movie| }}
<div class="column is-half box has-text-centered mb-4">
  <div class="">
    <a href="/movie/{{movie.id}}"><img src="{{movie.poster}}"  alt=""></a>
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a class="is-size-5 has-text-weight-medium" href="/movie/{{movie.id}}">{{movie.title}}</a>
    </h2>
    <p 
    class="release-date"> Release date: {{movie.year}}
    </p>
    <p
    class="ratings">Avg rating: {{movie.starAverage}}</p>
    <p>
    <p
    class="last-reviewer">Last reviewer: {{movie.reviews.0.user.name}}</p>
    <p> 
          {{movie.genre}}
    </p>
  </div>
</div>
{{/each}}

<script src="/js/sort.js"></script>
