<!-- Loop over each object in the projects array -->
{{#each movies as |movie| }}
<div class="column is-one-quarter has-text-centered">
  <div class="">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{!-- {{{get_emoji}}} --}}
      🍿
      <a class="is-size-5 has-text-weight-medium" href="/movie/{{movie.id}}">{{movie.title}}</a>
    </h2>
    <p class="release-date"> Release date: {{ movie.year}}
    </p>
    {{!-- <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p> --}}
    <p>
      {{movie.genre}}
    </p>
  </div>
</div>
{{/each}}
